body {
    background-color: #121212;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    cursor: default;
    line-height: 1.5em;
}
section {
    height: 70%;
    background-color: #121212;
}
header.section-name {
    box-sizing: border-box;
    text-align: center;
    font-size: 2.0em;
    color: #fff;
    width: 250px;
    padding: 4vw 0;
    margin: 0 auto;
    text-shadow: 2px 2px 2px #000;
}
header.section-name:before {
    content: '/';
    margin-right: 1.4vw;
    color: #63d019; 
}
header.section-name:after {
    content: '/';
    margin-left: 1.4vw;
    color: #63d019; 
}
strong {
    color: #63d019; 
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 0px;
}
.navbar-toggler {
    margin: 0.92em 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    font-size: 1.4em;
    color: #fff;
}
.nav {
    font-size: 1.500em;
    color: #fff ;
}
.nav li {
    padding: 25px 35px;
    border-radius: 2px;
}
.nav li:hover {
    background-color: #63d019;
    transition: all 0.5s ease 0s;
}
#about {
    background: url(/img/about-min.png) center center no-repeat;
    background-size: auto;
    min-height: 600px;
}
#about header {
    padding-top: 100px;
}
#about .brand-logo img {
    display: block;
    width: 40%;
    min-width: 150px;
    margin: 40px auto;
}
#about p {
    text-align: justify;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    max-width: 600px;
}
.content {
    background-color: #222;
    padding: 30px 5px;
}
.fleet-item header {
    box-sizing: border-box;
    height: 2.667em;
    background-color: #63d019;
    color: #fff;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 0.5em 0.5em 0 0;
    text-align: center;
    padding: 0.6em 0;
}
.fleet-item .box {
    background-color: #fff;
    display: flex;
}
.fleet-item .box figure {
    background-color: #141414;
    border: 0.2em solid #000;
    margin: 0.7em;
    min-width: 220px;
    height: 100%;
}
.fleet-item .box figure img {
    width: 100%;
}
.fleet-item .box figure img:not(:first-child) {
    border-top: 0.2em solid #000;
}
.fleet-item ul {
    padding: 1.5em 1em 0 2em;
}
.fleet-item ul li {
    font-weight: bold;
}
.fleet-item ul li p {
    font-weight: normal;
    text-align: justify;
}
.fleet-item footer {
    height: 30px;
    background-color: #535353;
    border-radius: 0 0 0.5em 0.5em;
}
.fleet .row:first-child {
    margin-top: 0;
}
.fleet .row {
    margin-top: 2em;
}
#contact .content{
    padding: 8% 0;
    min-height: 40vw;
    max-height: 150vw;
}
#contact .col-md-6 {
    color: #fff;
    text-align: center; 
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
.footer {
    text-align: center;
}
@media all and (min-width: 1200px) {
    #about p {
        padding: 2vw;
        font-size: 1.33em;
    }
    #about .brand-logo img {
        width: 20vw;
    }
    #about {
        background-size: 100%;
        height: 50vw;
        max-height: 920px;
        background-color: rgba(255, 255, 255, 0);
    }
}

@media all and (max-width: 1200px) {
    .brand-logo img {
        max-width: 250px;
    }
}
@media all and (max-width: 992px) {
    #about p {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .brand-logo img {
        max-width: 250px;
    }
    .fleet-item .box figure {        
        margin: 0 auto;
    }
    .fleet-item ul {
        padding: 0;
        margin: 2em 1em;
        text-align: center;
    }
    .box {
        flex-flow: column wrap;
    }
    #fleet .row {
        margin-top: 2em;
    }
}
@media all and (max-width: 768px) {
    #about {
        background-position: center center;
        background-size: auto;
    }
    .container .row .fleet-item {
        margin-bottom: 25px;
    }
    #fleet .row {
        margin-top: 0;
    }
    #contact .col-md-6 img {
        padding: 0 10vw 10vw 10vw;
    }
}

